<section class="max-w-screen-2xl w-full flex justify-between items-center px-[40px] py-[100px]">
    <div class="flex justify-center items-center gap-3">
        <img src="copa-ganadora.png" alt="" width="50px">
        <div class="flex flex-col">
            <h3 class="font-semibold text-[20px] text-black/70">High Quality</h3>
            <p class="text-[14px] text-black/50">Crafted from top materials</p>
        </div>
    </div>  
    <div class="flex justify-center items-center gap-3">
        <img src="cheque.png" alt="" width="50px">
        <div class="flex flex-col">
            <h3 class="font-semibold text-[20px] text-black/70">Warrany Protection</h3>
            <p class="text-[14px] text-black/50">Over 2 years</p>
        </div>
    </div> 
    <div class="flex justify-center items-center gap-3">
        <img src="drop-shipping.png" alt="" width="50px">
        <div class="flex flex-col">
            <h3 class="font-semibold text-[20px] text-black/70">Free Shipping</h3>
            <p class="text-[14px] text-black/50">Order over 150 $</p>
        </div>
    </div> 
    <div class="flex justify-center items-center gap-3">
        <img src="tech-support.png" alt="" width="50px">
        <div class="flex flex-col">
            <h3 class="font-semibold text-[20px] text-black/70">24 / 7 Support</h3>
            <p class="text-[14px] text-black/50">Dedicated support</p>
        </div>
    </div> 
</section>