<div class="max-w-screen-xl w-full relative pt-[80px] grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-4 text-start" >
    <div class="flex justify-center items-center gap-3 w-full">
        <img src="icons/copa-ganadora.png" alt="" width="50px">
        <div class="">
            <h3 class="font-bold text-gray-900 dark:text-white">High Quality</h3>
            <p class="my-1 mb-0 text-black/60 dark:text-gray-400">crafted from top materials</p>
        </div>
    </div>
    
    <div class="flex justify-center items-center gap-3 w-full">
        <img src="icons/guarantee.png" alt="" width="50px">
        <div>
            <h3 class="font-bold text-gray-900 dark:text-white">Warrany Protection</h3>
            <p class="my-1 mb-0 text-black/60 dark:text-gray-400">Over 2 years</p>
        </div>
    </div>

    <div class="flex justify-center items-center gap-3 w-full">
        <img src="icons/tech-support.png" alt="" width="50px">
        <div>
            <h3 class="mt-4 font-bold text-gray-900 dark:text-white">24 /7 Support</h3>
            <p class="my-1 mb-0 text-black/60 dark:text-gray-400">Dedicated support</p>
        </div>
    </div>
    <div class="flex justify-center items-center gap-3 w-full">
        <img src="icons/free.png" alt="" width="50px">
        <div>        
            <h3 class="mt-4 font-bold text-gray-900 dark:text-white">Free Shipping</h3>
            <p class="my-1 mb-0 text-black/60 dark:text-gray-400">Order over 150 $</p>
        </div>
    </div>
</div>
  