<section class="w-full bg-[#F9F1E6] flex justify-center items-center mt-[80px]">
    <div class="max-w-screen-xl w-full flex gap-10">
        <div class="w-[35%] flex flex-col justify-center items-start gap-2 p-5">
            <h3 class="text-[40px] font-bold leading-[50px] text-black/70">50+ Beautiful rooms inpiration</h3>
            <p class="text-[16px] text-black/50">Our designer already made a lot of beautiful prototipe or rooms that inspire you</p>
            <button class="px-[50px] py-[10px] bg-[#E89F72] text-white mt-[30px]">Explore More</button>
        </div>
        <div class="w-[65%] h-[600px] py-[40px] flex items-center gap-5 overflow-hidden">
            <div class="lapv1 bg-blue-300 min-w-[400px] h-[100%] relative">
                <div class="filter_modulo absolute bottom-5 left-5">
                    <span class="text-[20px] font-semibold text-black/70">01 - Bed Room</span>
                    <span class="text-[30px] font-bold">Inner Peace</span>
                    <div class="absolute h-[50px] w-[50px]  bg-[#E89F72] right-[-50px] bottom-0 flex justify-center items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="lapv2 bg-blue-300 min-w-[400px] h-[100%]">
                <div class="h-[100px] bg-[#F9F1E6]"></div>
            </div>
            <div class="bg-blue-300 min-w-[400px] h-[100%]">

            </div>
            <div class="bg-blue-300 min-w-[400px] h-[100%]">

            </div>
            <div class="bg-blue-300 min-w-[400px] h-[100%]">

            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<style>
    .lapv1, .lapv2 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .lapv1 {
        background-image: url(https://i.pinimg.com/736x/f7/db/b9/f7dbb9e8cfc747d0eba4e382bd7bc8ab.jpg);
    }
    .lapv2 {
        background-image: url(https://canalhogar.com/wp-content/uploads/2023/01/habitacion_moderna_romantica_con_iluminacion_tenue_34.jpg);
    }

    .filter_modulo {
        background: rgba(255, 255, 255, 0.497); 
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px); 
        width: 60%;
        height: 150px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;

    }
</style>