<section class="max-w-screen-2xl w-full mt-[190px] pl-5 p-[20px]">
    <div class="text-center my-[20px]">
        <p>Share your setup with</p>
        <h3 class="text-[40px] font-bold">#FuniroFurniture</h3>
    </div>
    <div class="lg:flex justify-between items-center gap-5 grid grid-cols-1">
        <div class="w-[100%] flex flex-col gap-5">
            <div class="flex justify-center items-end gap-5">
                <figure class="w-[70%] h-[350px] relative flex justify-center items-center overflow-hidden">
                    <img src="https://fotos.imghs.net/mm-wp/1005/011/1005_4039011_1_2024091015091974100.jpg" alt="" class="absolute w-full h-full object-cover">
                </figure>
                <figure class="w-[100%] h-[280px] relative flex justify-center items-center overflow-hidden">
                    <img src="https://hips.hearstapps.com/hmg-prod/images/piso-moderno-con-mobiliario-a-medida6-jpg-6485e6d58f4dd.jpg" alt="" class="absolute w-full h-full object-cover">
                </figure>
            </div>
            <div class="flex justify-center items-start gap-5">
                <figure class="w-[100%] h-[350px] relative flex justify-center items-center overflow-hidden">
                    <img src="https://hips.hearstapps.com/hmg-prod/images/piso-moderno-con-mobiliario-a-medida26-64835574b0dc6.jpeg?crop=0.816xw:0.666xh;0.184xw,0.334xh&resize=640:*" alt="" class="absolute w-full h-full object-cover">
                </figure>
                <figure class="w-[70%] h-[240px] relative flex justify-center items-center overflow-hidden">
                    <img src="https://preview.free3d.com/img/2019/10/2408235613288400161/v5386wkv.jpg" alt="" class="absolute w-full h-full object-cover">
                </figure>
            </div>
        </div>
        <figure class="w-[450px] h-[400px] relative flex justify-center items-center overflow-hidden element_bloque">
            <img src="https://hips.hearstapps.com/hmg-prod/images/piso-moderno-con-mobiliario-a-medida12-jpg-6485e69500ffa.jpg?resize=980:*" alt="" class="absolute w-full h-full object-cover">
        </figure>
        <div class="w-[100%] flex flex-col gap-5">
            <div class="flex justify-center items-end gap-5">
                <figure class="w-[80%] h-[250px] relative flex justify-center items-center overflow-hidden">
                    <img src="https://hips.hearstapps.com/hmg-prod/images/casa-de-campo-moderna-galan-sobrini-comedor-1676620504.jpg?resize=980:*" alt="" class="absolute w-full h-full object-cover">
                </figure>
                <figure class="w-[100%] h-[350px] relative flex justify-center items-center overflow-hidden">
                    <img src="https://st3.depositphotos.com/11351024/15140/i/450/depositphotos_151408740-stock-photo-luxury-modern-living-room-interior.jpg" alt="" class="absolute w-full h-full object-cover">
                </figure>
            </div>
            <div class="flex justify-center items-start gap-5">
                <figure class="w-[50%] h-[270px] relative flex justify-center items-center overflow-hidden">
                    <img src="https://media.revistaad.es/photos/60c74f00706e85adb767b06d/master/w_1600%2Cc_limit/125301.jpg" alt="" class="absolute w-full h-full object-cover">
                </figure>
                <figure class="w-[100%] h-[350px] relative flex justify-center items-center overflow-hidden">
                    <img src="https://fotos.imghs.net/mm-wp/1005/011/1005_4039011_1_2024091015091974100.jpg" alt="" class="absolute w-full h-full object-cover">
                </figure>
            </div>
        </div>
    </div>
</section>

<style>
    figure {
        transition: width .2s ease-in-out;
    }
    figure:hover {
        width: 100%;
    }


    @media (max-width: 1030px) {
        .element_bloque {
            width: calc(100%);
        }
    }
</style>