<section class="max-w-screen-2xl w-full mt-[190px] p-5">
    <h3 class="text-center text-[40px] font-bold my-[20px]">Tips & Tricks</h3>
    <div class="grid gap-5 xl:grid-cols-3 lg:grid-cols-2 sm:grid-cols-2 grid-cols-1">
        <article class="w-[100%] h-[400px] ">
            <div class="bloqueImagen w-full relative h-[300px] overflow-hidden flex justify-center items-center">
                <img class="absolute block w-full" src="https://canalhogar.com/wp-content/uploads/2023/01/habitacion_moderna_romantica_con_iluminacion_tenue_34.jpg" alt="">
            </div>
            <div class="p-[10px]">
                <h4 class="text-[20px] font-bold text-black/70">How to create a living room to love</h4>
                <span class="text-black/50 text-[14px]">20 Feb 2020</span>
            </div>
        </article>
        <article class="w-[100%] h-[400px] shadow-xl">
            <div class="bloqueImagen w-full relative h-[300px] overflow-hidden flex justify-center items-center">
                <img class="absolute block w-full" src="https://i.pinimg.com/736x/0a/ce/c4/0acec4b65e372a3752fd93452010891e.jpg" alt="">
            </div>
            <div class="p-[10px]">
                <h4 class="text-[20px] font-bold text-black/70">Solution for clean look working space</h4>
                <span class="text-black/50 text-[14px]">20 Feb 2020</span>
            </div>
        </article>
        <article class="w-[100%] h-[400px] ">
            <div class="bloqueImagen w-full relative h-[300px] overflow-hidden flex justify-center items-center">
                <img class="absolute block w-full" src="https://media.revistaad.es/photos/61e94b64fb4c9a6028b08bc8/master/pass/Buena%20Vista__025.jpg" alt="">
            </div>
            <div class="p-[10px]">
                <h4 class="text-[20px] font-bold text-black/70">Make your cooking activity more fun with good setup</h4>
                <span class="text-black/50 text-[14px]">20 Feb 2020</span>
            </div>
        </article>
    </div>
</section>
