<footer class="max-w-screen-2xl w-full flex justify-between items-start border-t-2 border-t-black/10 p-20 mt-[190px] flex-wrap gap-10">
    <div class="flex flex-col gap-3 text-black/50">
        <h3 class="text-[25px] font-bold text-black/80">Funiro</h3>
        <p class="w-[400px] ">Worldwide furniture store since 202. We sell over 1000+ branded products on our website</p>
        <span class="flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
            </svg>
            Sawojagar Malang, Indonesia
        </span>
        <span class="flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
            </svg>
            +9922 877 3890
        </span>
        <p class="font-semibold">www.funiro.com</p>
    </div>
    <div  class="flex flex-col gap-3 text-black/50">
        <h3 class="text-[25px] font-bold text-black/80">Menu</h3>
        <ul class="flex flex-col gap-3">
            <li>
                <a href="">Products</a>
            </li>
            <li>
                <a href="">Rooms</a>
            </li>
            <li>
                <a href="">Inspiration</a>
            </li>
            <li>
                <a href="">About Us</a>
            </li>
            <li>
                <a href="">Team & Policy</a>
            </li>
        </ul>
    </div>
    <div  class="flex flex-col gap-3 text-black/50">
        <h3 class="text-[25px] font-bold text-black/80">Account</h3>
        <ul class="flex flex-col gap-3">
            <li>
                <a href="">My Account</a>
            </li>
            <li>
                <a href="">Checkout</a>
            </li>
            <li>
                <a href="">My Cart</a>
            </li>
            <li>
                <a href="">My catalog</a>
            </li>
        </ul>
    </div>
    <div  class="flex flex-col gap-3 text-black/50">
        <h3 class="text-[25px] font-bold text-black/80">Stay Connected</h3>
        <ul class="flex flex-col gap-3">
            <li>
                <a href="">Facebook</a>
            </li>
            <li>
                <a href="">Instagram</a>
            </li>
            <li>
                <a href="">Twitter</a>
            </li>
        </ul>
    </div>
    <div class="flex flex-col gap-3">
        <h3 class="text-[25px] font-bold">Stay Updated</h3>
        <div class="flex flex-row-reverse justify-center items-center">
            <label for="email_send" class="w-[40px] h-[40px] bg-[#E79E71] flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-send-fill" viewBox="0 0 16 16">
                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
                </svg>
            </label>
            <input class="h-[40px] w-[300px] bg-black/5 pl-[20px]" id="email_send" name="email_user" type="email" placeholder="Enter your email" required>
        </div>
    </div>
</footer>