---
import Layout from '../layouts/Layout.astro';

import Nav_navbar from "../components/01 Header/Nav_navbar.astro";

import SectionPRv1 from "../components/02 Main/SectionPRv1.astro";
import SectionPRv2 from "../components/02 Main/SectionPRv2.astro";
import SectionPRv3 from "../components/02 Main/SectionPRv3.astro";
import SectionPRv4 from "../components/02 Main/SectionPRv4.astro";
import SectionPRv5 from "../components/02 Main/SectionPRv5.astro";
import SectionPRv6 from "../components/02 Main/SectionPRv6.astro";

import Footer from "../components/03 Footer/Footer.astro";





---

<Layout title="Forniture | Discover Our New Collection">
    <div class="flex flex-col items-center">
        <Nav_navbar />

        <SectionPRv1 />
        <SectionPRv2 />
        <!-- <SectionPRv3 /> -->
        <!-- <SectionPRv4 /> -->
        <!-- <SectionPRv5 /> -->
        <!-- <SectionPRv6 /> -->


        <!-- <Footer /> -->
    </div>
</Layout>




